In [1]:
# Importing necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
data=pd.read_csv("Code4_Zscaled29.csv",index_col = 0)
data.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
0,1,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
1,2,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,1
2,3,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
3,4,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0
4,5,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0

In [3]:
data2 = pd.read_csv("application.csv",index_col = 0)
data2 = data2.reset_index()

In [4]:
data['date'] = data2['date'].astype(str)
data['date'] = pd.to_datetime(data['date'])
data.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label,date
0,1,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
1,2,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,1,2016-01-01
2,3,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
3,4,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
4,5,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 30 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   record                      1000000 non-null  int64
 1   dayssince_fulladdress       1000000 non-null  float64
 2   vel_fulladdress_30          1000000 non-null  float64
 3   vel_fulladdress_14          1000000 non-null  float64
 4   vel_fulladdress_7           1000000 non-null  float64
 5   vel_fulladdress_3           1000000 non-null  float64
 6   relv_fulladdress_14         1000000 non-null  float64
 7   relv_fulladdress_30         1000000 non-null  float64
 8   relv_fulladdress_60         1000000 non-null  float64
 9   vel_fulladdress_1           1000000 non-null  float64
 10  dayssince_fulladdressphone  1000000 non-null  float64
 11  vel_fulladdressphone_30     1000000 non-null  float64
 12  dayssince_namedob           1000000 non-null  float64
 13  vel_namedob_30              1000000 non-null  float64
 14  dayssince_ssn               1000000 non-null  float64
 15  vel_ssn_30                  1000000 non-null  float64
 16  dayssince_ssnnamedob        1000000 non-null  float64
 17  vel_ssnnamedob_30           1000000 non-null  float64
 18  vel_fulladdressphone_60     1000000 non-null  float64
 19  dayssince_namessn           1000000 non-null  float64
 20  vel_namessn_30              1000000 non-null  float64
 21  vel_namedob_60              1000000 non-null  float64
 22  vel_ssnnamedob_60           1000000 non-null  float64
 23  vel_fulladdressphone_14     1000000 non-null  float64
 24  vel_namessn_60              1000000 non-null  float64
 25  vel_namedob_14              1000000 non-null  float64
 26  vel_ssndob_14               1000000 non-null  float64
 27  vel_ssn_14                  1000000 non-null  float64
 28  fraud_label                 1000000 non-null  int64
 29  date                        1000000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(27), int64(2)
memory usage: 236.5 MB

In [6]:
train = data[data.date < '2016-11-01']

test = data[data.date >= '2016-11-01']

In [7]:
train.shape

(833507, 30)

In [8]:
train.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label,date
0,1,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
1,2,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,1,2016-01-01
2,3,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
3,4,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01
4,5,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.0686,-0.068413,-0.072421,0,2016-01-01

In [9]:
test.shape

(166493, 30)

In [10]:
test.head()

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label,date
833507,833508,-2.005877,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0,2016-11-01
833508,833509,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0,2016-11-01
833509,833510,0.537280,1.475749,1.568788,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,1.906670,1.742048,1.749690,2.004640,1.722942,2.05111,2.052253,2.021161,0,2016-11-01
833510,833511,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0,2016-11-01
833511,833512,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0,2016-11-01

In [11]:
train.drop('date',axis = 1,inplace = True)
test.drop('date',axis = 1,inplace = True)
test

C:\Users\jayan\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3994: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,record,dayssince_fulladdress,vel_fulladdress_30,vel_fulladdress_14,vel_fulladdress_7,vel_fulladdress_3,relv_fulladdress_14,relv_fulladdress_30,relv_fulladdress_60,vel_fulladdress_1,...,dayssince_namessn,vel_namessn_30,vel_namedob_60,vel_ssnnamedob_60,vel_fulladdressphone_14,vel_namessn_60,vel_namedob_14,vel_ssndob_14,vel_ssn_14,fraud_label
833507,833508,-2.005877,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-2.057991,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833508,833509,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833509,833510,0.537280,1.475749,1.568788,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.536002,1.906670,1.742048,1.749690,2.004640,1.722942,2.05111,2.052253,2.021161,0
833510,833511,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
833511,833512,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
999996,999997,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
999997,999998,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
999998,999999,0.294021,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,0.287881,-0.097773,-0.131519,-0.130769,-0.070088,-0.139787,-0.06860,-0.068413,-0.072421,0
999999,1000000,-0.303068,-0.101958,-0.079045,-0.067094,-0.057932,-0.06999,-0.069649,-0.069424,-0.049665,...,-0.321143,-0.097773,1.742048,1.749690,-0.070088,1.722942,-0.06860,-0.068413,-0.072421,0

In [12]:
train.to_csv("traintest.csv")

In [13]:
test.to_csv("oot.csv")